*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(../fonts/Poppins_woff/stylesheet.css);
@import url(../fonts/Roboto_woff/stylesheet.css);

// varibels

$color-6588DE: #6588DE;
$color-E3F6FC: #E3F6FC;
$color-F2F6F7: #F2F6F7;
$color-F3BA4A: #F3BA4A;

.container{
    width: 100%;
    height: 100%;
    .menu-users{
        width: 350px;
        height: 100%;
        position: relative;
        .my-user{
            display: flex;
            width: 100%;
            height: 7%;
            background-color: $color-E3F6FC;
            padding: 30px 20px;
            padding-left: 30px;
            border-radius: 0px 0px 14px 14px;
            margin-bottom: 10px;
            .user-logo{
                width: 44px;
                height: 44px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid $color-F3BA4A;
                img{
                    width: 45px;
                }
            }
            .user-info{
                margin-left: 20px;
                .user-name{
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 23px;
                }
                .user-status{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 88px;
                    height: 20px;
                    background-color: $color-6588DE;
                    border-radius: 50px;
                    .activity-icon{
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: $color-F3BA4A;
                    }
                    .activity-name{
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 16px;
                        color: $color-F2F6F7;
                    }
                    .icon-droop{
                        font-size: 8px;
                        color: $color-F2F6F7;
                    }
                }
            }
            .menu{
                position: absolute;
                right: 20px;
                top: 33px;
                .icon-menu{
                    color: $color-6588DE;
                }
            }
            
        }
    }
}