*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(../fonts/Poppins_woff/stylesheet.css);
@import url(../fonts/Roboto_woff/stylesheet.css);

// varibels

$color-6588DE: #6588DE;
$color-E3F6FC: #E3F6FC;
$color-F2F6F7: #F2F6F7;
$color-F3BA4A: #F3BA4A;
$color-FDFDFE: #FDFDFE;
$color-46D362: #46D362;

.container{
    width: 100%;
    height: 100%;
    .menu-users{
        width: 350px;
        height: 100%;
        .my-user{
            display: flex;
            width: 100%;
            height: 7%;
            position: relative;
            background-color: $color-E3F6FC;
            padding: 30px 20px;
            padding-left: 30px;
            border-radius: 0px 0px 14px 14px;
            margin-bottom: 10px;
            .user-logo{
                width: 44px;
                height: 44px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid $color-F3BA4A;
                img{
                    width: 45px;
                }
            }
            .user-info{
                margin-left: 20px;
                .user-name{
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 23px;
                }
                .user-status{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 88px;
                    height: 20px;
                    background-color: $color-6588DE;
                    border-radius: 50px;
                    .activity-icon{
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: $color-F3BA4A;
                    }
                    .activity-name{
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 16px;
                        color: $color-F2F6F7;
                    }
                    .icon-droop{
                        font-size: 5px;
                        color: $color-F2F6F7;
                    }
                }
            }
            .menu{
                position: absolute;
                right: 20px;
                top: 33px;
                .icon-menu{
                    color: $color-6588DE;
                }
            }
            
        }
        .users{
            background-color: $color-E3F6FC;
            width: 100%;
            height: 100vh;
            overflow-x: scroll;
            &::-webkit-scrollbar{
                display: none;
            }
            display: block;
            border: 0.1px transparent solid;
            border-radius: 14px 14px 0px 14px;
            .user-item{
                    display: flex;
                    width: 310px;
                    height: 74px;
                    margin: 24px auto;
                    border-radius: 14px;
                    padding: 15px 0;
                    padding-left: 30px;
                    cursor: pointer;
                    transition: .5s;
                    // background-color: $color-6588DE;
                    &:hover{
                        transition: .5s;
                        background-color: $color-6588DE;
                        .user-info{
                            .last__message, .user-name, .last__message__time{
                                color: $color-FDFDFE;
                            }
                        }
                    }
                    .user-logo{
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 2px solid $color-F3BA4A;
                        img{
                            width: 45px;
                        }

                    }
                    .user-info{
                        width: 73%;
                        margin-left: 20px;
                        margin-top: 3px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        .last__message{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 10px;
                            line-height: 15px;
                            color: #96A9BA;
                        }
                        .last__message__time{
                            height: 40%;
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 12px;
                            color: #96A9BA;
                        }
                        .message__status{
                            width: 13px;
                            height: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .status__sent, .status__seen{
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                            }
                            .status__sent{
                                background-color: $color-46D362;
                            }
                            .seen{
                                background-color: $color-46D362;
                            }
                        }
                        .user-name{
                            font-family: 'Poppins', sans-serif;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 23px;
                        }
                        .user-status{
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 88px;
                            height: 20px;
                            background-color: $color-6588DE;
                            border-radius: 50px;
                            .activity-icon{
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: $color-F3BA4A;
                            }
                            .activity-name{
                                font-family: Poppins;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 10px;
                                line-height: 16px;
                                color: $color-F2F6F7;
                            }
                            .icon-droop{
                                font-size: 7px;
                                color: $color-F2F6F7;
                            }
                        }
                    }
                    
                    
                 
            }

        }
    }
}